<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Blog Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_DEBUG" value="false" force="true"/>
        <env name="DB_HOST" value="db" force="true"/>
        <env name="DB_DATABASE" value="blog_test_db" force="true"/>
        <env name="DB_USERNAME" value="blog_user" force="true"/>
        <env name="DB_PASSWORD" value="blog_password" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="LOG_PATH" value="/var/www/html/storage/logs/test.log" force="true"/>
    </php>
</phpunit>
